<ion-header [translucent]="true">
  <ion-toolbar color="fondo">
    <ion-title id="logo">Lista</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background">
  <app-menu></app-menu>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeMd="12" sizeLg="12">
        <div id="H1">
          <ion-text>Lista de Asistencia</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row id="lista"> 
        <ion-list [inset]="true">
          <ion-item>
            <ion-avatar id="perfil">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Juan Perez</ion-label>
            <ion-item>
              <ion-checkbox justify="end">-------------------------</ion-checkbox>
            </ion-item>          
          </ion-item>
          <ion-item>
            <ion-avatar id="perfil">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Francisco lopez</ion-label>
            <ion-item>
              <ion-checkbox justify="end">-------------------------</ion-checkbox>
            </ion-item>    
          </ion-item>
          <ion-item>
            <ion-avatar id="perfil">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Michelle Ramirez</ion-label>
            <ion-item>
              <ion-checkbox justify="end">----------------------</ion-checkbox>
            </ion-item>    
          </ion-item>
          <ion-item>
            <ion-avatar id="perfil">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Pedro Casafont</ion-label>
            <ion-item>
              <ion-checkbox justify="end">-------------------------</ion-checkbox>
            </ion-item>    
          </ion-item>
          <ion-item>
            <ion-avatar id="perfil">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Lucia Toledo</ion-label>
            <ion-item>
              <ion-checkbox justify="end">-------------------------</ion-checkbox>
            </ion-item>    
          </ion-item>
          <ion-item>
            <ion-avatar id="perfil">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Lucas Mendez</ion-label>
            <ion-item>
              <ion-checkbox justify="end">-------------------------</ion-checkbox>
            </ion-item>    
          </ion-item>
          <ion-item>
            <ion-avatar id="perfil">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Rodrigo Iturriaga</ion-label>
            <ion-item>
              <ion-checkbox justify="end">----------------------</ion-checkbox>
            </ion-item>    
          </ion-item>
          <ion-item>
            <ion-avatar id="perfil">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Miku Nakano</ion-label>
            <ion-item>
              <ion-checkbox justify="end">-------------------------</ion-checkbox>
            </ion-item>    
          </ion-item>
          <ion-item>
            <ion-avatar id="perfil">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Marco Solis</ion-label>
            <ion-item>
              <ion-checkbox justify="end">-------------------------</ion-checkbox>
            </ion-item>    
          </ion-item>
          <ion-item>
            <ion-avatar id="perfil">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Lucia Hiriat</ion-label>
            <ion-item>
              <ion-checkbox justify="end">-------------------------</ion-checkbox>
            </ion-item>    
          </ion-item>
          <ion-item>
            <ion-avatar id="perfil">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Manuel Montt</ion-label>
            <ion-item>
              <ion-checkbox justify="end">-------------------------</ion-checkbox>
            </ion-item>    
          </ion-item>
        </ion-list>
    </ion-row>
  </ion-grid> 
</ion-content>

