<ion-header [translucent]="true">
  <ion-toolbar color="fondo">
    <ion-title id="logo">
      Pagina Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bach">
  <app-menu></app-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <app-menu></app-menu>

    <ion-button id="present-alert" size="default">Click Me</ion-button>
    <ion-alert 
      trigger="present-alert"
      header="Bienvenido Usuario"
      subHeader="{{ user.usuario }}"
      message="This is an alert!"
      [buttons]="alertButtons">
    </ion-alert>

    <ion-label id="titular">RegistrAPP</ion-label>



    <ion-thumbnail id="imagen">
      <img alt="Silhouette of mountains" src="../../assets/img/circulo2.png">
    </ion-thumbnail>

    <ion-label id="welcome">Bienvenido {{ user.usuario }}</ion-label>

  </div>
</ion-content>
